.bg44x-icon {
  position: absolute;
  top: 7200px;
  left: 0px;
  width: 1080px;
  height: 2604px;
  object-fit: cover;
}
.vector-icon3 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.share-your-support {
  position: absolute;
  top: 26.5px;
  left: 40px;
  line-height: 43px;
  font-weight: 500;
  display: inline-block;
  width: 455px;
  z-index: 2;
}
.green-program-support {
  position: absolute;
  top: 9569.5px;
  left: 434px;
  width: 538px;
  height: 139.2px;
  text-align: center;
  font-size: var(--font-size-16xl);
  color: var(--color-darkslategray);
}
.group-icon30 {
  position: absolute;
  height: 5.61%;
  width: 50.89%;
  top: 88.42%;
  right: 25.27%;
  bottom: 5.98%;
  left: 23.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.group-icon31 {
  position: absolute;
  height: 1.14%;
  width: 28.25%;
  top: 84.98%;
  right: 37.19%;
  bottom: 13.88%;
  left: 34.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.group-icon26 {
  position: absolute;
  height: 1.11%;
  width: 21.64%;
  top: 87.38%;
  right: 45.55%;
  bottom: 11.51%;
  left: 32.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.group-icon33 {
  position: absolute;
  height: 1.05%;
  width: 25.11%;
  top: 93.81%;
  right: 53.76%;
  bottom: 5.14%;
  left: 21.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.group-icon10 {
  position: absolute;
  top: 153.6px;
  left: 0px;
  width: 55.5px;
  height: 36.2px;
  z-index: 1;
}
.group-icon29 {
  position: absolute;
  top: 0px;
  left: 23px;
  width: 108.3px;
  height: 159.8px;
  z-index: 2;
}
.group-parent {
  position: absolute;
  top: 9373.7px;
  left: 673.2px;
  width: 131.3px;
  height: 189.8px;
}
.see-how-this {
  margin: 0;
  position: absolute;
  width: 74.54%;
  top: 81.98%;
  left: 10.46%;
  font-size: var(--font-size-66xl);
  line-height: 95px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.since-2021-theyve {
  position: absolute;
  width: 64.17%;
  top: 86.22%;
  left: 10.46%;
  line-height: 55px;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.but-that-doesnt {
  position: absolute;
  width: 55.19%;
  top: 94.84%;
  left: 10.37%;
  line-height: 55px;
  font-weight: 500;
  display: inline-block;
  z-index: 3;
}
.vector-icon4 {
  position: absolute;
  top: 310px;
  left: 0px;
  width: 231.2px;
  height: 23.2px;
  z-index: 1;
}
.clip-path-group {
  position: absolute;
  top: 179.8px;
  left: 20px;
  width: 185.8px;
  height: 153.3px;
  z-index: 2;
}
.vector-group {
  position: absolute;
  top: 7562.8px;
  left: 728.8px;
  width: 270.5px;
  height: 333.2px;
}
.bg4-14x-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-icon12 {
  height: 36.2px;
  width: 55.5px;
  position: absolute;
  margin: 0 !important;
  right: 303.2px;
  bottom: 209.6px;
  z-index: 3;
}
.group-icon13 {
  height: 348.1px;
  width: 255.9px;
  position: absolute;
  margin: 0 !important;
  top: 1004.2px;
  left: 136.2px;
  z-index: 3;
}
.group-icon14 {
  height: 128.5px;
  width: 217.1px;
  position: absolute;
  margin: 0 !important;
  bottom: 633.1px;
  left: 283.3px;
  z-index: 3;
}
.green-square-backgrounds {
  width: 1080px;
  margin: 0 !important;
  position: absolute;
  top: 4800px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.clip-path-group1 {
  width: 100%;
  height: 964px;
  position: absolute;
  margin: 0 !important;
  right: 0px;
  bottom: 605px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.turn-your-small1 {
  margin: 0;
  width: 686px;
  position: relative;
  font-size: inherit;
  line-height: 95px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.hand-icon {
  position: absolute;
  top: 0px;
  left: 121.9px;
  width: 653.9px;
  height: 190.5px;
  z-index: 1;
}
.group-icon15 {
  position: absolute;
  top: 154.6px;
  left: 162.2px;
  width: 105.9px;
  height: 114.1px;
  z-index: 2;
}
.group-icon16 {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.group-icon17 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.hand-border {
  position: absolute;
  top: 250px;
  left: 0px;
  width: 471.6px;
  height: 386.1px;
}
.hand-container {
  height: 636.1px;
  width: 775.8px;
  position: relative;
  max-width: 100%;
}
.hand-image {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.turn-change-container {
  align-self: stretch;
  height: 1074.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 694.1px;
  box-sizing: border-box;
  gap: 58px;
  max-width: 100%;
}
.when-you-opt1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 70px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.green-program-description {
  width: 862px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-43xl);
}
.turn-change-container-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 62.9px;
  max-width: 100%;
}
.small-change-description {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 131.4px var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-66xl);
}
.group-icon18 {
  height: 310.2px;
  width: 508.8px;
  position: absolute;
  margin: 0 !important;
  right: 265.2px;
  bottom: 690.4px;
  z-index: 1;
}
.group-icon19 {
  height: 26.7px;
  width: 297.5px;
  position: absolute;
  margin: 0 !important;
  right: 242.3px;
  bottom: 301.3px;
  z-index: 1;
}
.green-square-backgrounds1 {
  width: 1080px;
  margin: 0 !important;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.every-010-you1 {
  width: 522px;
  position: relative;
  line-height: 55px;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.group-icon20 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 246.4px;
  height: 176px;
  z-index: 1;
}
.group-icon21 {
  position: absolute;
  top: 152.5px;
  left: 206.5px;
  width: 52.6px;
  height: 42.1px;
  z-index: 2;
}
.ride-orders-icons {
  height: 194.6px;
  width: 259.1px;
  position: relative;
}
.ride-orders {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-xl) 0px 73px;
}
.got-2-minutes1 {
  flex: 1;
  position: relative;
  line-height: 55px;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.got-2-minutes-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px 3px;
  box-sizing: border-box;
  max-width: 100%;
}
.swipe-to-check1 {
  width: 409px;
  position: relative;
  line-height: 49px;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.minutes-and-swipe-container {
  width: 431px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  max-width: 100%;
}
.every-010-you-contribute-to-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.2px;
  max-width: 100%;
}
.grab-contribute {
  width: 863px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs) 170.4px;
  box-sizing: border-box;
  max-width: 100%;
}
.did-you-know2 {
  align-self: stretch;
  position: relative;
  line-height: 95px;
  z-index: 3;
}
.bangkoks-air-was1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-66xl);
  line-height: 95px;
  font-weight: 800;
  font-family: inherit;
  color: var(--color-darkslategray);
  z-index: 2;
  margin-top: -16px;
}
.did-you-know-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.bangkok-air {
  width: 807px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs) 11.4px;
  box-sizing: border-box;
  max-width: 100%;
  color: var(--color-forestgreen);
}
.bg24x-icon1 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.group-icon22 {
  height: 282.9px;
  width: 338.7px;
  position: absolute;
  margin: 0 !important;
  top: 500.6px;
  right: 311px;
  z-index: 3;
}
.group-icon23 {
  height: 316.1px;
  width: 256.3px;
  position: absolute;
  margin: 0 !important;
  top: 1017.2px;
  left: 135.7px;
  z-index: 2;
}
.group-icon24 {
  height: 36.2px;
  width: 55.5px;
  position: absolute;
  margin: 0 !important;
  right: 307.2px;
  bottom: 211.6px;
  z-index: 3;
}
.group-icon25 {
  height: 346.9px;
  width: 573.1px;
  position: absolute;
  margin: 0 !important;
  right: 123.3px;
  bottom: 674px;
  z-index: 4;
}
.green-square-backgrounds2 {
  width: 1080px;
  margin: 0 !important;
  position: absolute;
  top: 2400px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.lts-the-critically {
  font-weight: 500;
}
.thai-rosewood {
  font-weight: 800;
}
.your-support-for-container1 {
  width: 528px;
  position: relative;
  line-height: 53px;
  display: inline-block;
  max-width: 100%;
  z-index: 4;
}
.group-icon26 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 3;
}
.biochar-absorbs-harmful1 {
  width: 426.4px;
  position: absolute;
  margin: 0 !important;
  bottom: 77.4px;
  left: 56.77px;
  line-height: var(--font-size-16xl);
  font-weight: 500;
  display: inline-block;
  transform: rotate(6.3deg);
  transform-origin: 0 0;
  z-index: 5;
}
.biochar-description {
  height: 549.6px;
  width: 549.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.biochar-absorbs {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  font-size: var(--font-size-7xl);
}
.your-support-for-the-biochar-l-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-65xl-8);
  max-width: 100%;
}
.biochar1 {
  width: 700.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-8xs);
  box-sizing: border-box;
  max-width: 100%;
}
.this-contribution-also1 {
  width: 570px;
  position: relative;
  line-height: 53px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 2;
}
.group-icon27 {
  height: 132.7px;
  width: 431.4px;
  position: relative;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 2;
}
.this-contribution-also-goes-to-parent {
  width: 659.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 0px 0px;
  box-sizing: border-box;
  gap: var(--gap-2xs-7);
  max-width: 100%;
}
.another-location1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  flex-shrink: 0;
}
.group-icon4 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.share-this-effort {
  flex: 1;
  position: relative;
  font-size: var(--font-size-16xl);
  line-height: 53px;
  font-weight: 500;
  font-family: var(--font-grab-community-solid-en);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  max-width: 100%;
  z-index: 3;
}
.group-group {
  cursor: pointer;
  border: none;
  padding: var(--padding-6xl) var(--padding-11xl) var(--padding-3xl);
  background-color: transparent;
  width: 450px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
}
.contribution {
  width: 861px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0px 0px 118.4px;
  box-sizing: border-box;
  gap: 54.6px;
  max-width: 100%;
}
.did-you-know2 {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 95px;
  display: flex;
  color: var(--color-forestgreen);
  align-items: center;
  width: 805px;
  z-index: 2;
}
.theres-a-type {
  margin: 0;
  position: absolute;
  top: 79px;
  left: 0px;
  font-size: var(--font-size-66xl);
  line-height: 95px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  width: 805px;
  z-index: 1;
}
.group-icon29 {
  height: 144.4px;
  width: 221.4px;
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.rosewood-icon {
  width: 542.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.lts-the-critically-container {
  position: relative;
  line-height: 55px;
  flex-shrink: 0;
  z-index: 1;
}
.rosewood-description {
  position: absolute;
  top: 478.6px;
  left: 3px;
  width: 666px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  max-width: 100%;
}
.did-you-know-group {
  height: 853px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.green-squares-inner {
  width: 807px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs) 29.2px;
  box-sizing: border-box;
  max-width: 100%;
}
.group-icon30 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 2;
}
.thai-rosewood-is {
  width: 426.4px;
  position: absolute;
  margin: 0 !important;
  bottom: 77.4px;
  left: 46.67px;
  line-height: var(--font-size-16xl);
  font-weight: 500;
  display: inline-block;
  transform: rotate(6.3deg);
  transform-origin: 0 0;
  z-index: 3;
}
.group-container {
  height: 549.6px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.rare-rosewood {
  width: 841.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 146px 11px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-7xl);
}
.group-icon31 {
  position: absolute;
  top: 273.6px;
  left: 138px;
  width: 500.2px;
  height: 116.9px;
  z-index: 2;
}
.your-010-allows-container {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 55px;
  display: inline-block;
  width: 539px;
  z-index: 4;
}
.allow-content {
  height: 390.5px;
  width: 658.2px;
  position: relative;
  max-width: 100%;
}
.allow-work {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-button {
  cursor: pointer;
  border: none;
  padding: var(--padding-6xl) var(--padding-11xl) var(--padding-3xl);
  background-color: transparent;
  width: 450px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.allow-work-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 53.5px;
  max-width: 100%;
}
.eco-matcher {
  width: 866px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-8xs) 104.4px;
  box-sizing: border-box;
  max-width: 100%;
}
.first-journey-icon {
  position: absolute;
  top: 9.5px;
  left: 16.6px;
  width: 101.8px;
  height: 118.7px;
}
.second-journey-icon {
  position: absolute;
  top: 6px;
  left: 8.9px;
  width: 92.4px;
  height: 109.3px;
  z-index: 1;
}
.third-journey-icon {
  position: absolute;
  top: 5.9px;
  left: 8.8px;
  width: 83.2px;
  height: 104.6px;
  z-index: 2;
}
.leaf-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.group-icon33 {
  position: absolute;
  height: 39.25%;
  width: 38.77%;
  top: 30.25%;
  right: 32.23%;
  bottom: 30.5%;
  left: 29.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.group1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 108.6px;
  height: 120px;
  z-index: 3;
}
.first-journey-parent {
  height: 128.2px;
  flex: 1;
  position: relative;
}
.group {
  width: 118.4px;
  margin: 0 !important;
  position: absolute;
  top: -21.1px;
  right: -8.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.and-the-journey {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 95px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 4;
}
.journey-description {
  width: 825px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 0px 0px;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.your-10-cent-also-container {
  flex: 1;
  position: relative;
  line-height: 55px;
  display: inline-block;
  min-width: 433px;
  max-width: 100%;
  z-index: 3;
}
.group-icon34 {
  width: 181.7px;
  height: 186.6px;
  position: relative;
  z-index: 3;
}
.distance-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 32.8px 0px 0px;
}
.distance-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 41.6px;
  max-width: 100%;
  font-size: var(--font-size-21xl);
}
.journey-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px;
  max-width: 100%;
}
.journey {
  width: 891.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-66xl);
}
.green-squares {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-91xl) 0px 0px var(--padding-90xl);
  box-sizing: border-box;
  gap: 98.6px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-darkslategray);
  font-family: var(--font-grab-community-solid-en);
}
.frame-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 7896px;
  max-width: 100%;
}
.full {
  width: 100%;
  height: 9804px;
  position: relative;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-grab-community-solid-en);
}
